.bgcolor {
    background-color: red;
}
.font{
    text-align: center;
    text-decoration: double;
    line-height: normal;
    font-size: normal;
    font-weight: 150;
    font-style: times;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer {
    text-align: center;
    font-size: 125;
    font-variant: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 0%;
}
.navbar {
    position: absolute;
    float: left;
    font-display: times;
    display: ruby-text-container;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.konten {
    margin: auto;
    border: 3px;
    padding: 2px;
    width: max-content;
    font-family: monospace;
    font-style: oblique;
}